@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: #cacaca;
}

.color_boton{
  background-color: #3F9D25;
}
.color_boton:disabled{
  background-color: #cacaca; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TODO: Estilos del header */
.main-header{
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-logo{
  width: 170px;
  margin-left: 20px;
}
.img-logo img{
  width: 100%;
}
.navegacion {
  margin-right: 20px;
}
.navegacion a{
  background-color: rgb(63, 157, 37);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  font-weight: 500;
}
.navegacion a:hover{
  background-color: rgb(52, 137, 28);
}

/* Estilos del contenedor de la imagen */
.segundo-container {
  color: white;
  font-size: 200%;
  text-align: center;
  font: bold 27px verdana, sans-serif;
  padding: 45px 7px;
  margin-top: 0px;
  background-image: url("../imagenes/depto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}

.texto {
  color: white;
  font-size: 80%;
  font: bold 35px verdana, sans-serif;
  text-align: center;
  padding: auto;
  margin-top: 5px;
}

.tercer-container {
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  border: 20px solid #fff9f9;
  background-color: #dddddd;
  border-radius: 20px 20px;
  box-shadow: #777d83 10px 10px 10px inset;
}

/* Estilos del buscador principal */
.contenedor-principal-buscador {
  border-radius: 10px;
  background-color: #fff;
  padding: 6px;
  width: 900px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
  
}
.contenedor-secundario-buscador {
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  display: flex;
}
.contenedor-secundario-buscador svg {
  align-self: center;
  margin-left: 5px;
}
.contenedor-secundario-buscador input {
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-left: 8px;
  padding: 14px 0;
}
.contenedor-secundario-buscador input::placeholder {
  color: #626262;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}

/* TODO: CONTENIDO PRINCIPAL DE BODY */
.contenedor-principal {
  display: flex;
  margin-top: 20px;
}
/* Estilos de los filtros laterales */
.contenedor-filtros {
  min-width: 350px;
  background-color: #fff;
  height: 600px;
  padding: 13px;
  border-radius: 15px;
  margin-left: 100px;
}
.contenedor-filtros h3 {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
  font-size: 25px;
}
.titulo-filtro {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  display: block;
}
/* Estilos filtro universidad */
.select-universidad {
  margin: 8px 0;
  font-size: 15px;
  background-color: #cacaca;
  border-radius: 5px;
  padding: 5px;
  border: none;
  color: rgb(63, 63, 63);
}
/* Estilos filtro precio */
.filtro-precio {
  margin-bottom: 8px;
}
.filtro-precio-interior {
  display: flex;
  width: 100%;
}
.precio-desde {
  width: 50%;
  font-family: "Inter", sans-serif;
}
.precio-hasta {
  width: 50%;
  font-family: "Inter", sans-serif;
}
.precio-desde input {
  width: 95%;
  padding: 5px;
  border: none;
  color: rgb(63, 63, 63);
  background-color: #cacaca;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.precio-desde input::placeholder {
  color: rgb(63, 63, 63);
}
.precio-hasta input {
  width: 100%;
  padding: 5px;
  border: none;
  color: rgb(63, 63, 63);
  background-color: #cacaca;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.precio-hasta input::placeholder {
  color: rgb(63, 63, 63);
}
/* Estilos filtro baños y habitaciones */
.filtro-general-input {
  margin-bottom: 8px;
}
.filtro-general-input input {
  width: 100%;
  padding: 5px;
  border: none;
  color: rgb(63, 63, 63);
  background-color: #cacaca;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
.filtro-general-input input::placeholder {
  color: rgb(63, 63, 63);
}
/* Estilos de amoblado y tipo */
.filtro-select{
  margin-bottom: 8px;
}
.filtro-select select{
  width: 100%;
  padding: 5px;
  border: none;
  color: rgb(63, 63, 63);
  background-color: #cacaca;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
}
/* Boton del filtro */
.boton-filtro{
  border: none;
  padding: 10px;
  width: 100%;
  background-color: rgb(65, 65, 189);
  margin-top: 5px;
  border-radius: 8px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.boton-filtro:hover{
    cursor: pointer;
    background-color: rgb(31, 31, 189);
}

/* TODO: Estilos del listado de los arriendos (main) */
.contenedor-arriendos {
  margin-left: 100px;
}
/* Estilos de los arriendos individuales */
.contenedor-arriendo {
  background-color: #fff;
  margin-bottom: 25px;
  display: flex;
	max-width: 100%;
	overflow: hidden;
	width: 900px;
  border-radius: 15px;
}
/* Estilos de la imagen principal */
.imagen-arriendo {
  max-width: 880px;
  line-height:0;
}
.imagen-arriendo img {
  width: 340px;
  display:block
}
/* Estilos de la información principal */
.contenido-arriendo {
  position: relative;
	width: 100%;
}
.contenido-principal {
  width: 100%;
}
.contenido-principal h2 {
  margin-left: 5px;
  font-size: 25px;
  margin-top: 5px;
}
.descripcion-arriendo {
  margin-left: 5px;
  margin-top: 9px;
  color: #474747;
  margin-bottom: 19px;
}
/* Estilos de las universidades cercanas y la calificacion */
.universidad-calificacion {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.listado_universidad{
  display: flex;
  overflow-x: scroll;
  max-width: 500px;
  margin-left: 5px;
}
::-webkit-scrollbar {
  display: none;
}
.listado_universidad p {
  white-space: nowrap;
  margin-right: 45px;
  color: #646464;
}
.calificacion {
  display: flex;
  margin-right: 5px;
  align-items: center;
  align-content: center;
}
.calificacion img {
  width: 20px;
  margin-right: 5px;
}

/* Estilos de los contenidos secundarios */
.contenido-secundario {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
}
.caracteristicas-arriendo {
  display: flex;
}
.caracteristica-arriendo {
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.caracteristica-arriendo img {
  width: 25px;
}

hr {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  width: 100%;
}
.precio-arriendo {
  font-size: 25px;
  font-weight: 600;
  margin-left: 5px;
}

/* TODO: Estilos de los formularios */
.contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .img-container {
    width: 30%;
  }
  
  .img-container>img {
    width: 167px;
    height: 74px;
    margin-left: 25px;
  }
  
  /* TODO: Estilos del formulario selección universidad / subir fotos */
  .formulario{
    width: 60%;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
  }
  
  .carac {
  width: 100%;
  background: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 36px;
  border: 1px solid #6279ac;
  font-family: 'calibri';
  font-size: 18px;
  color: #0a0a0a;
  }
  
  .form-registro p {
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  }
  
  .form-registro a {
  color: white;
  text-decoration: none;
  }
  
  .form-registro a:hover {
  color: white;
  text-decoration: underline;
  }
  
  .form-registro .boton {
  width: 100%;
  background: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 12px;
  color: rgb(0, 0, 0);
  margin: 16px 0;
  font-size: 16px;
  }
  
  .h1{
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #807f7f;
  margin-bottom: 30px;
  }
  
  .estilo_universidades{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 1rem;
    font-size: 17px;
  }
  
  .fotos_indexform{
    text-align: center;
    font-size: 35px;
    color: #807f7f;
    margin: 35px 0;
  }
  
  .box{
    width: 500px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
  }
  
  .alerta{
    color: red;
  }
  
  .alerta2{
    color: green;
  }

  * {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}

.outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid black; */
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9); */
    /* max-width: fit-content; */
    max-height: fit-content;
}
.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
    
}

table {
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0px;    
}

table th{
    background-color: #e2e6e88c;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
} 

table th, table td {
    
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 100px;
    
}

.boton_fotos{
  
  text-align: center;
  margin-top: 0px;
  height: 40px;
	background-color: #E9E9ED;
  border-radius: 3px;
}


/* TODO: Responsive pagina inicial */

@media only screen and (max-width: 1586px){
  .contenedor-principal {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  /* Ocultamos el filtro principal */
  .contenedor-filtros{
    display: none;
  }
  /* Ocultamos el buscador */
  .contenedor-principal-buscador{
    display: none;
  }

  .contenedor-principal{
    padding-top: 0;
  }
  /* Estilos del filtrado */
  .buscador-filtrado{
    display: flex;
    position: sticky;
    justify-content: space-between;
    margin-bottom: 20px;
    top: 0;
    z-index: 2;
    align-items: center;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .contenedor-responsive-buscador{
    background-color: #fff;
    width: 70%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
  }
  .contenedor-responsive-buscador input{
    width: 100%;
    height: 100%;
    border: none;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
  }
  .filter-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: none;
    background-color: #fff;
    margin-right: 10px;
  }
  .filter-button svg{
    width: 25px;
  }
  .filter-button p{
    font-size: 20px;
    margin-left: 4px;
  }
  
  .modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
  }
  .modal__container{
    width: 50%;
    max-width: 700px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 6px;
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .modal--show{
    opacity: 1;
    display: block;
    pointer-events: unset;
  }
  .contenedor-arriendos{
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .contenido-principal{
    margin-bottom: 55px;
  }
}
@media only screen and (min-width: 1586px){
  .buscador-filtrado{
    display: none;
  }
  .modal{
    display: none;
  }
}
@media only screen and (max-width: 946px){

  .contenedor-arriendo{
    background-image: url("../imagenes/depto.png");
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    background-clip: padding-box;
    background-size: cover;
    width: 100%;
  }
  .contenedor-arriendos{
    margin: 0 40px;
  }
  .contenido-arriendo{
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 15px;
  }
  .contenido-principal{
    color: #fff;
  }
  .contenido-secundario{
    color: #fff;
  }
  .imagen-arriendo{
    display: none;
  }
  .listado_universidad{
    display: flex;
    scrollbar-width: none;
    height: auto;
    margin-right: 15px;
  }
  .listado_universidad p{
    color: #fff;
  }
  .descripcion-arriendo{
    color: #fff;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .calificacion img{
    margin-right: 6px;
  }
  .caracteristica-arriendo img{
    filter: invert(5)
  }
  .descripcion-arriendo{
    margin-right: 25px;
  }
  .segundo-container{
    padding: 15px 7px;
  }
}
@media only screen and (max-width: 767px) {
  .img-logo a img{
    width: 130px;
  }
  .fotos_indexform{
    font-size: 25px;
  }
  .list_image{
    text-align: center;
  }
  .list_image img{
    width: 130px;
  }
  .titulo-tabla{
    width: 200px;
  }
  .titulo-eliminar{
    width: 100px;
  }
  .list_button{
    text-align: center;
  }
  table td{
    padding: 0;
  }
  .list_university_res{
    padding: 0;
  }
  .form-check{
    padding: 0;
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
  }
  .cont-university{
    padding: 0;
    margin: 0;
  }
  .form-check-input{
    margin: 0;
    display: block;
    width: 20px;
  }

  .form-check-label{
    display: block;
    width: 10px;
    margin-left: 20px;
  }
}
@media only screen and (max-width: 430px){

  .precio-arriendo{
    font-size: 18px;
  }
  .caracteristica-arriendo img{
    display: none;
  }
  .list_image img{
    width: 100px;
  }
  .titulo-tabla{
    width: 100px;
  }
  .titulo-eliminar{
    width: 80px;
  }
}

