
/* Titulos y subtitulos: 
    - https://fonts.google.com/specimen/Source+Sans+Pro 
    - titulo: @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
    - subtitulo: @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
    - font-family: 'Source Sans Pro', sans-serif;

  Parrafos pequeños: 
    - https://fonts.google.com/specimen/Open+Sans
    - @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    - font-family: 'Open Sans', sans-serif;
  
  Colores generales:
    - Body (fondo): #f5f3f4
    - Header: #fff
    - Link (etiquetas a): #4361ee
    - Texto no tan resaltante: #b1a7a6
    - Botones para agregar: #80b918
    - Botones para eliminar: #ee6055
    - Botones para información: #bad7f2
*/

/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

/* Parrafos */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
}
a:active, a:link, a:visited {
  color: white;
  text-decoration: none;
}

/* ======================= TODO: Configuración de variables generales ======================= */
:root {
  --titulo-subtitulo: 'Source Sans Pro', sans-serif;
  --parrafos: 'Open Sans', sans-serif;
  --subtitulos-primarios-tamano: 1.4rem;
  --subtitulos-secundarios-tamano: 1.1rem;
  --tamano-parrafos: 16px;
  --color-body: #d3d3d3;
  --color-input: #9e9ea7;
  --color-bg-input: #f3f3f4;
  --color-header: #ffff;
  --color: rgba(20, 0, 0, 0.154);
  --link: #4361ee;
  --texto-no-resaltado: rgb(95, 95, 95);
  --botones-agregar: #80b918;
  --botones-agregar-hover: #55a630;
  --botones-eliminar: #ee6055;
  --botones-eliminar-hover: #cb362b;
  --botones-informacion: #bad7f2;
  --botones-informacion-hover: #9abad7;
  --transision-botones: 0.6s;
}
html{
  overflow-x: hidden;
  height: 100vh;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--color-body);
  overflow-x: hidden;
}

.main-container{
  height: 100%;
}

/* ======================= TODO: Estilos del header ======================= */
.main-header{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 80px;
  background-color: var(--color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 2;
  position: relative;
  box-shadow: rgba(33, 35, 38, 0.181) 0px 10px 10px -10px;
}
.img-logo{
  max-width: 200px;
  min-height: auto;
  display: flex;
}
.img-logo img{
  max-width: 100%;
  min-height: auto;
}
.contenedor-nav{
  display: flex;
  justify-content: flex-end;
}
.login{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.cont-login{
  display: flex;
  flex-direction: row;
  max-width: 40%;
  min-width: 450px;
}
.navegacion{
  display: flex;
  align-items: center;
  align-content: center;
}
.user-content{
  display: flex;
  align-self: stretch;
  align-items: center;
  align-content: center;
}
.navegacion p{
  font-family: var(--titulo-subtitulo);
  font-size: var(--subtitulos-primarios-tamano);
  background-color: var(--botones-informacion);
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.navegacion a{
  margin-right: 10px;
}
.boton-principal-logout{
  background-color: var(--botones-eliminar);
  transition: var(--transision-botones);
  text-decoration: none;
  height: 100%;
  font-size: 17px;
  font-family: var(--parrafos);
  border-top-right-radius:50%;
  border-bottom-right-radius:50%;
  padding: 7px;
  padding-left: 6px;
  padding-right: 12px;
}
.boton-principal-logout:hover{
  background-color: var(--botones-eliminar-hover);
}
.boton-principal-add{
  background-color: var(--botones-agregar);
  transition: var(--transision-botones);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-family: var(--parrafos);
  border-radius: 10px;
  font-weight: 500;
}
.boton-principal-add:hover{
  color: #fff;
  background-color: var(--botones-agregar-hover);
  cursor: pointer;
}
.contenedor-login{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80%;
}
.login-section{
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 10px;
}
.input-rut{
  width: 20%;
  height: 40px;
  line-height: 28px;
  padding: 0 0.5rem;
  border: 2px solid transparent;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  outline: none;
  background-color: var(--color-bg-input);
  color: #0d0c22;
  transition: .3s ease;
}
.input-rut::placeholder {
  color: var(--color-input);
  font-size: var(--tamano-parrafos);
}
.input-rut::placeholder {
  color: var(--color-input);
  font-size: var(--tamano-parrafos);
}
.input-rut:focus, .input-rut:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.input-login{
  background-color: var(--botones-agregar);
  transition: var(--transision-botones);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: var(--subtitulos-secundarios-tamano);
  font-family: var(--parrafos);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 500;
  border: none;
}
.input-login:hover{
  background-color: var(--botones-agregar-hover);
  cursor: pointer;
}
.titulo-registro{
  font-family: var(--titulo-subtitulo);
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.291);
}

/* Estilos del contenedor de la imagen */
.segundo-container {
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  background: rgba(0, 0, 0, 0.3) url("../imagenes/depto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  height: 27vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-titulos h1{
  font-family: var(--titulo-subtitulo);
  color: #ffff;
  font-size: 4rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.65);
  margin-bottom: 8px;
}
.contenedor-titulos h2{
  font-family: var(--titulo-subtitulo);
  color: #ffff;
  font-size: 2rem;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.65);
}

/* Estilos del buscador principal */
.grupo-buscador {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 70%;
  font-family: var(--parrafos);
  margin-top: 20px;
}
.buscador {
  width: 100%;
  height: 48px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-bg-input);
  color: #0d0c22;
  transition: .3s ease;
  font-family: var(--parrafos);
  font-size: var(--subtitulos-secundarios-tamano);
}
.buscador::placeholder {
  color: var(--texto-no-resaltado);
}
.buscador:focus, .buscador:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1.3rem;
  height: 1.3rem;
}

/* ======================= TODO: CONTENIDO PRINCIPAL DE BODY ======================= */
.contenedor-principal {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 300px;
  width: 100%;
}
/* Estilos de los filtros laterales */
.contenedor-filtros {
  align-self: flex-start;
  min-width: 350px;
  background-color: var(--color-header);
  padding: 13px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 350px;
  min-width: 350px;
  margin-right: 50px;
}
.cont-filter{
  display: flex;
  justify-content: space-between;
}
.cont-borrar{
  position: relative;
  width: 25px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.cont-borrar svg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  align-self: center;
  z-index: 1;
}
.cont-borrar input{
  position: absolute;
  border: none;
  background-color: #ffffff00;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
}
.cont-borrar input:hover{
  cursor: pointer;
}

.titulo-filtro{
  font-family: var(--titulo-subtitulo);
  font-size: var(--subtitulos-primarios-tamano);
  margin-bottom: 10px;
  text-align: center;
}
.titulo-filtro-individual{
  font-family: var(--parrafos);
  font-size: var(--subtitulos-secundarios-tamano);
  margin-bottom: 8px;
}
.grupo-filtrado {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.input-general {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 0.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--color-bg-input);
  color: #0d0c22;
  transition: .3s ease;
}
.input-general::placeholder {
  color: var(--color-input);
  font-size: var(--tamano-parrafos);
}
.input-general:focus, .input-general:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
.primerinput{
  margin-right: 5px;
}
.select{
  color: var(--color-input);
  font-size: var(--tamano-parrafos);
}
.boton-filtro{
  background-color: var(--botones-agregar);
  transition: var(--transision-botones);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: var(--subtitulos-secundarios-tamano);
  font-family: var(--parrafos);
  border-radius: 10px;
  font-weight: 500;
  border: none;
  width: 100%;
}
.boton-filtro:active, .boton-filtro:visited, .boton-filtro:link, .boton-filtro:hover{
  background-color: var(--botones-agregar-hover);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

/* ======================= TODO: Estilos del listado de los arriendos (main) ======================= */
.contenedor-arriendo{
  display: flex;
  width: 900px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
}
.contenedor-arriendo:hover{
  filter: brightness(93%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Contenedor Principal */
.imagen-arriendo {
  max-width: 400px;
  max-height: 280px;
  border-radius: 15px;
}
.imagen-arriendo img {
  max-width: 100%;
  max-height: 100%;
  display:block;
  border-top-left-radius:  15px;
  border-bottom-left-radius:  15px;
  filter: brightness(85%);
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}
/* Contenedor Secundario */
.contenido-arriendo{
  width: 100%;
  overflow: hidden;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilos de las universidades cercanas */
.universidades{
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}
.universidades ul{
  display: flex;
  justify-content: center;
  animation: cambio 30s infinite linear running;
}
.universidades li{
  list-style: none;
  display: flex;
  background-color: var(--botones-informacion);
  padding: 4px 10px;
  border-radius: 9px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.svg-caracteristicas{
  width: 22px;
  margin-right: 6px;
}
.universidades li p{
  white-space: nowrap;
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
}
@keyframes cambio{
    0%{margin-left: 0;}
    50%{margin-left: -100%;}
    100%{margin-right: 0%;}
}

/* Estilos de la direccion de la propiedad */
.direccion-titulo{
  font-size: var(--subtitulos-primarios-tamano);
  font-family: var(--titulo-subtitulo);
}

/* Estilos de la descripcion de la propiedad */
.contenedor-descripcion{
  margin-top: 8px;
  max-height: 90px;
  min-height: 90px;
  overflow-y: auto;
  overflow-x: hidden;
}
.contenedor-descripcion p{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  color: rgb(95, 95, 95);
}

/* Estilos del precio y las caracteristicas */
.separador-primario-secundario{
  border: 0.5px solid;
  color: var(--texto-no-resaltado);
}
.contenedor-caracteristica{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.contenido-caracteristica{
  display: flex;
}
.caracteristica{
  display: flex;
  align-items: center;
  margin-right: 5px;
  background-color: var(--botones-informacion);
  padding: 0 8px;
  border-radius: 9px;
}
.caracteristica img{
  width: 20px;
  margin-right: 6px;
  
}
.contenedor-acciones{
  display: flex;
  flex-wrap: wrap;
}
.contenedor-acciones a{
  margin-right: 5px;
}
.contenedor-estados{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.boton-arrendar{
  background-color: var(--botones-agregar);
  transition: var(--transision-botones);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 17px;
  font-family: var(--parrafos);
  border-radius: 10px;
  font-weight: 500;
}
.boton-arrendar:hover{
  color: #fff;
  background-color: var(--botones-agregar-hover);
  cursor: pointer;
}
.boton-principal-eliminar{
  background-color: var(--botones-eliminar);
  transition: var(--transision-botones);
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
}
.boton-principal-eliminar:hover{
  color: #fff;
  background-color: var(--botones-eliminar-hover);
}
.titulo-estado{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.titulo-estado h2{
  font-size: var(--subtitulos-primarios-tamano);
  font-family: var(--titulo-subtitulo);
}
.cont-estado{
  display: flex;
  margin-right: 8px;
}
.cont-estado p{
  align-self: center;
}
.cont-estado figure{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 6px;
}
.estado1{
  background-color: var(--color-input);
}
.estado2{
  background-color: var(--botones-agregar);
}
/* ======================= TODO: FORMULARIO JORGE ======================= */
.contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-container {
    width: 30%;
}
.img-container>img {
    width: 167px;
    height: 74px;
    margin-left: 25px;
}
.textarea{
  height: 200px;
}
.alertas-mensajes{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  color: var(--botones-eliminar);
}
  
  /* TODO: Estilos del formulario selección universidad / subir fotos */
  .formulario{
    width: 60%;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
  }
  
  .carac {
  width: 100%;
  background: rgb(240, 240, 240);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 36px;
  border: 1px solid #6279ac;
  font-family: 'calibri';
  font-size: 18px;
  color: #0a0a0a;
  }
  
  .form-registro p {
  height: 40px;
  font-size: 25px;
  line-height: 40px;
  }
  
  .form-registro a {
  color: white;
  text-decoration: none;
  }
  
  .form-registro a:hover {
  color: white;
  text-decoration: underline;
  }
  
  .form-registro .boton {
  width: 100%;
  background: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 12px;
  color: rgb(0, 0, 0);
  margin: 16px 0;
  font-size: 16px;
  }
  
  .h1{
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  color: #807f7f;
  margin-bottom: 30px;
  }
  
  .estilo_universidades{
    text-align:center;
    margin-top: 40px;
    margin-bottom: 1rem;
    font-size: 17px;
  }
  
  .fotos_indexform{
    text-align: center;
    font-size: var(--subtitulos-primarios-tamano);
    font-family: var(--titulo-subtitulo);
    margin: 35px 0;
  }
  .alerta-advertencia{
    font-family: var(--parrafos);
    font-size: var(--tamano-parrafos);
  }
  .box{
    width: 500px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
  }
  
  .alerta{
    color: red;
  }
  
  .alerta2{
    color: green;
  }

  * {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}

.outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 1px solid black; */
    border-radius: 4px;
    /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9); */
    /* max-width: fit-content; */
    max-height: fit-content;
}
.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 66.4vh;
    
    margin-top: 22px;
    
    margin: 15px;
    padding-bottom: 20px;
    
}

table {
    border-collapse: separate;
    border-spacing: 0px;    
}

table th{
    background-color: #e2e6e88c;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: normal;
} 

table th, table td {
    
    padding: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table td {
    text-align: left;
    font-size: 15px;
    border: 1px solid rgb(177, 177, 177);
    padding-left: 100px;
    
}

.boton_fotos{
  text-align: center;
  margin-top: 0px;
  height: 40px;
	background-color: #E9E9ED;
  border-radius: 3px;
}
.contenedor-arriendo-a:hover{
  background-color: #0a0a0a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-fotos{
  display: flex;
  align-items: center;
  align-content: center;
}
.form-fotos input:first-of-type{
  height: 100%;
}
.btn-fotos{
  border: none;
  border-radius: 10px;
  padding: 10px 8px;
  margin-left: 5px;
}
.btn-fotos::file-selector-button{
  background-color: red;
  visibility: hidden;
  width: 0;
  height: 0;
}
.form-cont-fotos{
  margin-bottom: 15px;
}
.file-input:hover{
  cursor: copy;
}

/* Listado de fotos */
.contenedor-imagenes{
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 240px;
  height: 280px;
  border-radius: 20px;
  position: relative;
  transition: 0.5s ease-out;
  border: 0;
  margin-right: 15px;
  margin-bottom: 25px;
 }
 
 .card-details {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 40%;
  border-radius: 1rem;
  border: none;
  background-color: var(--botones-eliminar);
  color: #fff;
  padding: .4rem 0.5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
 }
 .imagen{
  border: none;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
 }
 .imagen img{
  border-radius: 18.1px;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  object-position: center center;
  pointer-events: none;
 }
 .imagen:hover{
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid var(--botones-eliminar);
 }
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
  cursor: pointer;
 }

 /* Card formulario */
 .card-foto{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--color-body);
 }
 .card-foto:hover{
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 .form-imagen{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
 }
 .input-imagen{
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
 }
 .input-imagen:hover{
  cursor: pointer;
 }

 /* Completar form */
.completar-info{
  width: 100%;
  margin: 30px 0;
  display: block;
  text-align: center;
  text-decoration: none;
}
.completar-info{
  color: #fff;
  text-decoration: none;
}
.completar-info:active, .completar-info:hover, .completar-info:link, .completar-info:visited{
  color: #fff;
  text-decoration: none;
}

/* ================= TODO: Menu burguer ================== */

.contenedor-burger{
  width: 100%;
  height: 100%;
  display: none;
}
.menu-button{
  border: none;
  cursor: pointer;
  background-color: #fff;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5px 20px;
}
.menu-button svg{
  align-self: center;
}
.menu-opciones{
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-body);
  color: #fff;
  display: none;
  z-index: 4;
}
.menu-opciones a{
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.menu-opciones a:hover{
  color: black;
  background-color: #fff;
}
.user{
  text-align: center;
  padding: 20px 0;
  font-family: var(--titulo-subtitulo);
  font-size: var(--subtitulos-primarios-tamano);
}
.no-encontrado{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
}
.contenedor-no-encontrado{
  /* width: 1200px; */
}


/* ======================= TODO: RESPONSIVE INDEX ======================= */

/* Ocultar en escritorio */
.contenedor-oscuro{
  display: none;
}
/* .contenedor-imagen-completa{
  display: none;
} */
#filtros-btn{
  display: none;
}
.contenedor-buscador-movil{
  display: none;
}
.contenedor-arriendo-movil{
  display: none;
}
.menu-opciones{
  display: none;
}

@media only screen and (max-width: 1330px){
  .contenedor-arriendo{
    display: none;
  }
  .contenedor-arriendo-movil{
    display: block;
    width: 800px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  .contenedor-arriendo-movil div{
    border-radius: 15px;
    padding: 5px;
  }
  .direccion-titulo{
    color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.031);
  }
  .contenedor-descripcion p{
    color: var(--color-input);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.042);
  }
  .contenedor-caracteristica h2{
    color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.079);
  }
  .separador-primario-secundario{
    border: 0.5px solid;
    color: var(--color-input);
    width: 100%;
  }
  .caracteristica{
    padding: 5px 8px;
  }
  .grupo-buscador{
    display: none;
  }
  .input{
    display: none;
  }
  body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    display: unset
  }
  .segundo-container{
    height: 200px;
    min-height: 200px;
  }
  /* Titulo y header */
  .boton-principal-add{
    background-color: var(--botones-agregar);
    transition: var(--transision-botones);
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: var(--tamano-parrafos);
    font-family: var(--parrafos);
    border-radius: 10px;
  }
  .contenedor-titulos h1{
    font-size: 2.5rem;
  }
  .contenedor-titulos h2{
    font-size: 1.5rem;
  }
  /* Estilos referentes al filtrado */
  .navegador-movil{
    width: 100%;
    height: auto;
    background-color: #fff;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .contenedor-buscador-movil{
    width: 100%;
    display: block;
  }
  .buscador-movil{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    font-family: var(--parrafos);
    font-size: var(--subtitulos-secundarios-tamano);
    outline: none;
    border: none;
  }
  .buscador-movil:focus, .buscador-movil:hover, .buscador-movil:active{
    outline: none;
    border: none;
    box-shadow: none;
  }
  .buscador-movil::placeholder {
    color: var(--texto-no-resaltado);
  }
  .contenedor-filtros{
    display: none;
  }
  .contenedor-oscuro{
    background-color: #0a0a0aaa;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 2;
  }
  .contenedor-filtros-movil{
    width: 80%;
    background-color: #fff;
    border-radius: 6px;
    padding: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .mostrar-modal{
    opacity: 1;
    display: block;
    pointer-events: unset;
  }
  #filtros-btn{
    display: block;
    border: none;
    background-color: #ffff;
    display: flex;
    align-items: center;
    align-content: center;
  }
  #filtros-btn img{
    width: 60px;
    align-self: center;
    margin-top: 6px;
  }
  .img-logo{
    width: 180px;
  }
}
@media only screen and (max-width: 820px){
  .contenedor-arriendo-movil{
    width: 600px;
  }
  .navegacion{
    display: none;
  }
  .login{
    display: none;
  }
  .contenedor-principal{
    padding: 0;
  }
  .no-encontrado{
    display: none;
  }
  .main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .menu-opciones{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url('../imagenes/depto.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-blend-mode: darken;
    z-index: 5;
  }
  .contenedor-burger{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    direction: rtl;
  }
  .cont-login{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
  }
  .titulo-login{
    font-size: var(--subtitulos-primarios-tamano);
    font-family: var(--titulo-subtitulo);
    text-align: center;
    margin: 10px 0;
  }
  .rut-input{
    width: 100%;
    margin: 20px 0;
  }
  .boton-login-movil{
    margin: 20x 0;
  }
  .contenedor-login{
    height: 100vh;
  }
  .contenedor-arriendo-movil{
    width: 500px;
  }
}
@media only screen and (max-width: 720px){
  .contenedor-arriendo-movil{
    width: 500px;
  }
  .contenedor-titulos h1{
    font-size: var(--subtitulos-primarios-tamano);
  }
  .contenedor-titulos h2{
    font-size: var(--subtitulos-secundario-tamano);
  }
  .grupo-filtrado{
    display: block;
  }
  .grupo-filtrado input:first-child{
    margin-bottom: 7px;
  }
}
@media only screen and (max-width: 520px){
  .contenedor-arriendo-movil{
    width: 300px;
  }
  .contenido-caracteristica{
    display: none;
  }
}
@media only screen and (max-width: 420px){
  .contenedor-arriendo-movil{
    width: 300px;
  }
  .contenedor-caracteristica h2{
    font-size: 18px;
  }
  .cont-estado{
    margin: 10px 0;
  }
}
@media only screen and (max-width: 350px){
  .navegacion{
    color: #fff;
    font-size: 10px;
    font-family: var(--parrafos);
    border-radius: 10px;
  }
  .boton-principal-add{
    display: none;
  }
  .navegacion a:before{
    display: block;
    content: "Agregar";
    background-color: var(--botones-agregar);
    transition: var(--transision-botones);
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 17px;
    font-family: var(--parrafos);
    border-radius: 10px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 280px){
  .contenedor-arriendo-movil{
    width: 230px;
  }
  .listado_universidad p{
    font-size: 11px;
  }
}

/* ======================= TODO: DETALLES INDIVIDUALES ======================= */
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Contenedor principal */
.main-detail{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 20px 0;
}
.detalles-principal{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0 5px 0;
}
.volver-inicio-atras{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.volver-inicio-atras a{
  color: var(--link);
}
.volver-inicio-atras a:hover{
  color: #374eb6;
}
/* Volver atras */
.cont-volver{
  width: 100%;
  display:  flex;
  justify-content: flex-start;
}
.volver-atras{
  align-self: flex-start;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  align-content: center;
}
.volver-atras p{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  color: var(--link);
}
.volver-atras p:hover{
  color: #2940a3;
}
/* Contenedor de los detalles */
.contenedor-detail{
  width: 100%;
  background-color: var(--color-header);
  padding: 13px 20px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.contenedor-fecha{
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 7px;
}
.contenedor-fecha img{
  width: 25px;
  margin-right: 6px;
}
.fecha-publicacion{
  color: var(--texto-no-resaltado);
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
}
.imagen-propiedad{
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.imagen-propiedad img{
  max-width: 100%;
  display: block;
}
/* Información principal */
.direccion-detail{
  font-size: 2rem;
  font-family: var(--titulo-subtitulo);
  font-weight: 700;
  margin: 10px 0;
}
.precio-detail{
  font-size: var(--subtitulos-primarios-tamano);
  font-family: var(--titulo-subtitulo);
  margin: 8px 0;
  display: flex;
  align-items: center;
}
.precio-detail span{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  color: var(--texto-no-resaltado);
  margin: 8px 0;
  margin-left: 5px;
}
/* Descripcion y contacto */
.info-desc-contacto{
  max-width: 100%;
  margin-bottom: 10px;
}
.info-desc-contacto p{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  color: var(--texto-no-resaltado);
}
.separador-detail{
  border: 0.5px solid var(--texto-no-resaltado);
}
.informacion{
  max-width: 100%;
  margin-top: 10px;
}
.informacion h2{
  font-family: var(--parrafos);
  font-size: var(--subtitulos-secundarios-tamano);
  margin-bottom: 10px;
}
.info-card{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-info{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--botones-informacion);
  padding: 6px 15px;
  border-radius: 9px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card-info img{
  width: 25px;
  margin-right: 8px;
}
.card-info p{
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
}
.informacion{
  max-width: 100%;
  margin-top: 10px;
}
.informacion h2{
  font-family: var(--parrafos);
  font-size: var(--subtitulos-secundarios-tamano);
  margin-bottom: 10px;
}
.cantidad-total{
  color: rgb(95, 95, 95);
  font-size: var(--tamano-parrafos);
  font-family: var(--parrafos);
  margin-bottom: 10px;
  word-wrap: break-word;
}
@media only screen and (max-width: 1000px){
  .main-detail{
    width: 80%;
  }
}
@media only screen and (max-width: 800px){
  .main-detail{
    width: 80%;
  }
  .contenedor-nav{
    display: none;
  }
  .navegacion{
    display: none;
  }
  .contenedor-imagenes{
    justify-content: center;
  }
  .img-logo{
    width: 150px;
    max-width: auto;
  }
  .contenedor-estados{
    width: 400px;
  }
}
@media only screen and (max-width: 500px){
  .main-detail{
    width: 95%;
  }
  .card-info{
    padding: 3px 8px;
    border-radius: 9px;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .card-info img{
    width: 18px;
  }
  .card-info p{
    font-size: 14px;
  }
  .precio-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .boton-principal-eliminar{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .boton-arrendar{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .boton-arrendar:hover{
    cursor: pointer;
  }
  .login-section{
    width: 80%;
  }
  .cont-login{
    width: 100%;
    min-width: 100%;
  }
  .detalles-principal{
    justify-content: space-around;
    padding: 0 10px;
  }
  .contenedor-estados{
    margin: 0 10px;
  }
  .img-logo{
    width: 150px;
    max-width: auto;
  }
  .titulo-estado{
    flex-direction: column;
  }
}
@media only screen and (max-width: 360px){
  .login-section{
    width: 200px;
  }
  .detalles-principal{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  .volver-inicio-atras{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .volver-inicio-atras a{
    font-size: 13px;
  }
  .cantidad-total{
    width: 100%;
    font-size: 13px;
    text-align: center;
  }
  .img-logo{
    width: 80px;
    max-width: auto;
  }
  .cont-login{
    min-width: 100%;
  }
  .rut-input{
    width: 100%;
  }
  .boton-login-movil{
    display: block;
  }
  .img-logo img{
    max-width: 100px;
    min-height: auto;
  }
  .main-detail{
    width: 95%;
  }
  .titulo-estado{
    flex-direction: column;
  }
  .titulo-estado h2{
    text-align: center;
    margin-bottom: 10px;
  }
  .contenedor-arriendos{
    width: 90%;
  }
  .contenedor-arriendo-movil{
    width: 100%;
  }
  .contenedor-arriendo-movil div{
    width: 100%;
  }
  .contenedor-estados{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .detalles-principal{
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
