@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
body {
    margin: 0px;
    padding: 0px;
    background-color: #CACACA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body:before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, white, white);
    opacity: 0.30;
} */

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.img-container {
    width: 30%;
}

.img-container>img {
    width: 167px;
    height: 74px;
    margin-left: 25px;
}

#main-header {
    /* display: inline-flex; */
    width: 100% !important;
    height: 80px !important;
    background-color: white !important;
    display: flex !important;
    /* color: rgb(2, 2, 2); */
}

.navegacion {
    width: 60%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin-left: 102px;
}

.ul>img {
    width: 50px;
    height: 49px;
    margin-right: 16px;
}

.ul>li>a {
    text-decoration: none;
    color: black;
    justify-content: right;
}

.ul>li>a>button {
    margin-top: auto;
    background-color: #07593f;
    border-radius: 20px;
    box-shadow: 5px 3px 6px #888;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    flex-direction: row;
    margin-right: 25px;
}

.segundo-container {
    color: white;
    font-size: 200%;
    text-align: center;
    font: bold 27px verdana, sans-serif;
    padding: 100px 100px 20px 100px;
    margin-top: 0px;
    background-image: url("../imagenes/depto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

}

.texto {
    color: white;
    font-size: 80%;
    font: bold 35px verdana, sans-serif;
    text-align: center;
    padding: auto;
    margin-top: 5px;
}

.tercer-container {

    width: 500px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 20px solid #fff9f9;
    background-color: #DDDDDD;
    border-radius: 20px 20px;
    box-shadow: #777d83 10px 10px 10px inset;

}

/* Estilos del buscador principal */

.contenedor-principal-buscador{
    border-radius: 10px;
    background-color: #fff;
    padding: 6px;
    width: 900px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 10px;
}
.contenedor-secundario-buscador{
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
}
.contenedor-secundario-buscador svg{
    align-self: center;
    margin-left: 5px;
}
.contenedor-secundario-buscador input{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(240, 240, 240);
    margin-left: 8px;
    padding: 14px 0;
}
.contenedor-secundario-buscador input::placeholder{
    color: #626262;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.h1 {
    float: left;
    margin: 25px;
    color: #333;
    font-family: 'Helvetica', sans-serif;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

/* CONTENIDO PRINCIPAL DE BODY */
.contenedor-principal{
    display: flex;
    width: 100%;
    padding: 20px 100px;
}
/* Estilos de los filtros laterales */
.contenedor-filtros{
    width: 400px;
    background-color: #fff;
}

/* Estilos de los seccion principal (main) */
.contenedor-arriendos{
    width: 100%;
    padding: 0 80px;
}
/* Estilos de los arriendos individuales */
.contenedor-arriendo{
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    max-width: 1400px;
}
/* Estilos de la imagen principal */
.imagen-arriendo{
    width: 700px;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}
.imagen-arriendo img{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-position: center center;
}
/* Estilos de la información principal */
.contenido-arriendo{
    width: 100%;
    position: relative;
}
.contenido-principal{
    width: 100%;
}
.contenido-principal h2{
    margin: 8px 0;
    padding-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 26px;
}
.descripcion-arriendo{
    margin-bottom: 60px;
    padding-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
/* Estilos de las universidades cercanas y la calificacion */
.universidad-calificacion{
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 10px;
    margin: 8px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.calificacion{
    display: flex;
    align-items: center;
}
.calificacion img{
    width: 20px;
    height: 20px;
}

/* Estilos de los contenidos secundarios */
.contenido-secundario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-right: 10px;
    padding-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.caracteristicas-arriendo{
    display: flex;
}
.caracteristica-arriendo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 7px;
}
.caracteristica-arriendo img{
    width: 20px;
    height: 20px;
}
.caracteristica-arriendo p{
    font-size: 14px;
}
hr{
    position: absolute;
    bottom: 50px;
    width: 100%;
}
.precio-arriendo{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
}

